<div>
  <div class="header">
    <h1>Login</h1>
  </div>
  <div class=body>
    <form [formGroup]="loginForm">
      <div class="formCell">
        <label>Email</label>
        <input type="text" formControlName="email" id="email" [ngClass]="{'invalid' : hasError('email')}"
          placeholder="Digite seu email" autocomplete="on">
        <app-error-message [control]="loginForm.controls.email" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Senha</label>
        <input type="password" formControlName="password" id="password" [ngClass]="{'invalid' : hasError('password')}"
          placeholder="Digite sua senha" autocomplete="on">
        <app-error-message [control]="loginForm.controls.password" [submitted]="submitted"></app-error-message>
      </div>
      <p class="error" *ngIf="loginFailed">Email ou senha inválidos</p>
      <div class="formFotter">
        <button type="submit" (click)="login()">Entrar</button>
        <p>Não tem uma conta? <a routerLink="/register">Cadastre-se</a></p>
      </div>
    </form>
  </div>
</div>
