@import "../../../assets/sass/variables.scss";
.formFotter{
  margin-top: 50px;
  button{
    width: 100%;
    height: $custom_btn_height;
    background-color: darken($success, 10%);
    border: 1px solid darken($success, 10%);
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  p{
    text-align: center;
    color: $base_1;
    margin-top: 30px;
  }
  a{
    color: $primary;
    text-decoration: none;
    cursor: pointer;
  }
}
