<div>
  <div class="header">
    <h1>Eventos</h1>
    <button routerLink="/event/new" class="newButton">+</button>
  </div>
  <!--<div class="menu">
     <div class="menuItem">Meus Eventos</div>
    <div class="menuItem">Convites</div>
    <div class="menuItem">Convites</div>
  </div>-->
  <div class="body">
    <div class="scroll" *ngIf="events$ | async as events; else loading">
      <p class=loading *ngIf="events.length < 1">Você ainda não tem eventos</p>
      <div class="eventItem" *ngFor="let event of events" (click)="onEdit(event._id)">
        <div>
          <p>{{event.description}}</p>
          <p class="dateTime" *ngIf="event.initialDate == event.finalDate">{{event.initialDate | mask:'00/00/0000'}} -
            {{event.startTime | mask:'00:00'}} até {{event.endTime | mask:'00:00'}}</p>
          <p class="dateTime" *ngIf="event.initialDate != event.finalDate">{{event.initialDate | mask:'00/00/0000'}} às
            {{event.startTime | mask:'00:00'}} até {{event.finalDate | mask:'00/00/00'}} às
            {{event.endTime | mask:'00:00'}}</p>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError" class="loading">
        <p>Erro ao carregar Eventos</p>
      </div>
      <ng-template #loadingNoError>
        <div class="loading">
          <p>Carregando...</p>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
