@import "../../../assets/sass/variables.scss";

.newButton {
  height: 100%;
  width: 60px;
  border: none;
  background-color: $success;
  border: 1px solid $success;
  font-size: 48px;
  color: white;
  cursor: pointer;
  transition: all ease 0.3s;
}
.newButton:hover {
  background-color: darken($success, 10%);
  border: 1px solid darken($success, 10%);
}

// .header{
//   box-shadow: none;
// }

// .menu {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   box-shadow: 0px 2px 7px 0px $base_2;
//   position: sticky;
//   .menuItem {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     width: calc(100% / 2);
//     cursor: pointer;
//     font-size: 14px;
//     color: $base_1;
//     transition: all 0.3s ease;
//     padding: 5px;
//     height: 25px;
//     border:none;
//     flex-wrap: wrap;
//   }
//   .menuItem:not(:last-child) {
//     border-right: 1px solid $base_2;
//   }
//   .menuItem:hover {
//     background-color: $base_2;
//     color: white;
//   }
// }

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  color: gray;
  p {
    color: $base_1;
    font-size: 18px;
  }
}

.eventItem {
  border-left: 5px solid $default_1;
  border-bottom: 1px solid $base_2;
  padding: 5px 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin: 3px 0px;
      color: $primary;
      font-size: 18px;
    }
    p.dateTime {
      color: $base_1;
      font-size: 14px;
    }
  }
}

.eventItem:hover {
  background-color: $base_4;
}

@media screen and (min-width: 500px) {
  .scroll {
    max-height: calc(90vh - 60px);
    overflow-y: auto;
  }
}

/**SCROLLBAR**/
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.3);
  background-color: rgb(192, 192, 192);
}

.scroll::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(192, 192, 192);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
}
/**SCROLLBAR**/
