<div>
  <div class="header">
    <h1>Cadastro</h1>
  </div>
  <div class=body>
    <form [formGroup]="registerForm">
      <div class="formCell">
        <label>Email</label>
        <input type="email" formControlName="email" [ngClass]="{'invalid' : hasError('email')}" id="email"
          placeholder="Digite seu email" autocomplete="on">
        <app-error-message [control]="registerForm.controls.email" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Senha</label>
        <input type="password" formControlName="password" id="password" [ngClass]="{'invalid' : hasError('password')}"
          placeholder="Digite sua senha" autocomplete="off">
        <app-error-message [control]="registerForm.controls.password" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Confirmar Senha</label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword"
          [ngClass]="{'invalid' : hasError('confirmPassword')}" placeholder="Digite novamente sua senha"
          autocomplete="off">
        <app-error-message [control]="registerForm.controls.confirmPassword" [submitted]="submitted">
        </app-error-message>
      </div>
      <div class="formFotter">
        <button type="submit" (click)="register(registerForm)">Cadastrar</button>
        <p>Já tem uma Conta? <a routerLink="/login">Entrar</a></p>
      </div>
    </form>
  </div>
</div>
