@import "../../../assets/sass/variables.scss";

.deleteSection {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 0px 0px;
  button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: $danger;
    cursor: pointer;
    margin: 5px 0px;
  }
}

.formCell:nth-child(2) {
  margin-top: 0;
}

.formFotter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  button {
    margin: 15px 0px;
  }
  .cancel {
    color: $danger;
    background-color: transparent;
    border: none;
    font-size: 16px;
    height: $custom_btn_height;
    width: 40%;
    cursor: pointer;
  }
  .save {
    color: white;
    font-size: 16px;
    background-color: darken($success, 10%);
    border: 1px solid darken($success, 10%);
    height: $custom_btn_height;
    width: 40%;
    cursor: pointer;
  }
  .save:hover {
    background-color: darken($success, 15%);
    border: 1px solid darken($success, 15%);
  }
}

.modalBase {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000008f;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  box-shadow: 0 0 19px 1px rgba(78, 78, 78, 0.87);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  i {
    font-size: 48px;
    margin: 40px;
    color: $danger;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    button {
      width: 100px;
      height: 35px;
      cursor: pointer;
      font-size: 16px;
      margin: 10px 20px;
    }
    button#delete {
      background-color: transparent;
      border: none;
      color: $danger;
    }
    button#cancel {
      background-color: $primary;
      border: none;
      color: white;
    }
  }
}

p.error {
  text-align: center;
  font-size: 14px;
  color: $danger;
}

.scale-in-center {
	animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .formFotter {
    .save,
    .cancel {
      width: 100%;
    }
  }
}
