<div>
  <div class="header">
    <h1>{{ eventForm.value._id != null? 'Editar' : 'Novo' }} Evento</h1>
  </div>

  <div class=body>
    <form [formGroup]="eventForm">
      <div class="deleteSection" *ngIf="eventForm.value._id != null">
        <button (click)="delete = true"><i class="zmdi zmdi-delete"></i> Excluir</button>
      </div>
      <div class="formCell">
        <label>Descrição</label>
        <input type="text" formControlName="description" id="description"
          [ngClass]="{'invalid' : hasError('description')}" placeholder="Nome do Evento" maxlength="60">
        <app-error-message [control]="eventForm.controls.description" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Data de Início</label>
        <input type="text" formControlName="initialDate" id="initialDate"
          [ngClass]="{'invalid' : hasError('initialDate')}" matInput mask="00/00/0000" [showMaskTyped]="true"
          placeholder="Data de início" (change)="fillFinalDate()">
        <app-error-message [control]="eventForm.controls.initialDate" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Hora de Início</label>
        <input type="text" formControlName="startTime" id="startTime" [ngClass]="{'invalid' : hasError('startTime') }"
          matInput mask="00:00" [showMaskTyped]="true" placeholder="Hora de início">
        <app-error-message [control]="eventForm.controls.startTime" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Data de Término</label>
        <input type="text" formControlName="finalDate" id="finalDate" [ngClass]="{'invalid' : hasError('finalDate')}"
          matInput mask="00/00/0000" [showMaskTyped]="true" placeholder="Data de término">
        <app-error-message [control]="eventForm.controls.finalDate" [submitted]="submitted"></app-error-message>
      </div>
      <div class="formCell">
        <label>Hora de Término</label>
        <input type="text" formControlName="endTime" id="endTime" matInput [ngClass]="{'invalid' : hasError('endTime')}"
          mask="00:00" [showMaskTyped]="true" placeholder="Hora de término">
        <app-error-message [control]="eventForm.controls.endTime" [submitted]="submitted"></app-error-message>
      </div>
      <p class="error" *ngIf="overwrite">Já existe um evento nesse perído!</p>
      <div class="formFotter">
        <button class="cancel" type="button" (click)="onCancel()">Cancelar</button>
        <button class="save" type="submit" (click)="onSubmit()">Salvar</button>
      </div>
    </form>
  </div>
  <div class="modalBase" *ngIf="delete">
    <div class="modal scale-in-center">
      <i class="zmdi zmdi-delete"></i>
      <p>Deseja mesmo deletar esse evento?</p>
      <div class="footer">
        <button id="cancel" (click)="delete = false">Cancelar</button>
        <button id="delete" (click)="onDelete()">Deletar</button>
      </div>
    </div>
  </div>
</div>
