//Variables
@import "./assets/sass/variables.scss";

body {
  margin: 0px;
  padding: 0;
  background-color: $base_2;
  font-family: "Roboto", sans-serif;
}

button{
  outline: none;
}

.card {
  background-color: $base_3;
  width: 450px;
  min-height: $card_height;
  height: auto;
  box-shadow: 5px 5px 7px 0px $base_1;
  margin-top: 30px;
  margin-bottom: 20px;
}

.baseBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  flex-wrap: wrap;
  box-shadow: 0px 2px 7px 0px $base_2;
  position: sticky;
  h1 {
    margin: 0;
    color: white;
    padding: 10px;
  }
}

form {
  margin: 5px 20px;
}

.formCell {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

label {
  color: $primary;
  margin-bottom: 2px;
}

input {
  height: 35px;
  padding: 2px 10px;
  border: 1px solid $base_2;
  color: $base_1;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 0px 0px 3px #d8d8d8;
  outline: none;
  .invalid{
    border-color: $danger !important;
  }
}

input.invalid{
  border: 1px solid lighten($danger, 10%);
  box-shadow: inset 0px 0px 3px lighten($danger, 10%);
}

@media screen and (max-width: 780px) {
  .card {
    width: 70%;
    min-height: $card_height;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 95%;
    height: 100%;
    min-height: $card_height;
  }
}
