@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$success: #90BE6D;
$danger: #C05746;
$primary: #253237;
$base_2: #9DB4C0;
$base_1: #5C6B73;
$base_3: #f9f9f9;
$base_4: #e6e6e6;
$default_1: #435492;

$card_height: 90vh;
$custom_btn_height: 40px;
